
*.json
*.env

*/.ipynb_checkpoints/*
*/__pycache__/*
*.pyc
*/*.cpython-*.pyc


*/data/*
*/logs/*
*/plots/*

data/*
*.zip
*.tar.gz
*.tar
*.dat
*.npz
*.csv


# images
*.png
*.jpg
*.jpeg
*.gif
*.mov
*.mpv4
*.wav
*.aiff


*.sublime-workspace

logs/*
*.log


# mac OS€ filesystem
.DS_store

